* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: #3f464d;
    font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

a {
    all: unset;
}
/* 가상 프로퍼티는 전체 리셋을 해도 적용되지 않아서 재설정 해줘야함*/

a:link {
    text-decoration: none;
    color: #3f464d;
}

a:visited {
    text-decoration: none;
    color: #3f464d;
}

a:active {
    text-decoration: none;
    color: #3f464d;
}

a:hover {
    text-decoration: none;
    color: #3f464d;
    cursor: pointer;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

header {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.head-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container .head-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.head-container .head-brand a:hover {
    cursor: pointer;
    color:aqua;
}

.head-container .head-blog {
    font-weight: bold;
    font-size: 1.2rem;
}

section {
    width: 100%;
    background-color: #fff;
    position: relative;
}

.main {
    height: 360px;
    background-image: url("../img/fun-coding-mark.png");
    z-index: 1;
    background-size: cover;
    background-position: center 10%;
    background-repeat: no-repeat;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: aqua;
    opacity: 0.8;
    z-index: 2;
    margin-top: 60px;
}

.title-container {
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 3;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.8rem;
}

.message {
    font-size: 1.4rem;
    font-weight: normal;
    color: #fff;
}

.skill-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill {
    width: 25%;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 9px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
}

.skill-icon {
    font-size: 2.5rem;
    margin: 0 5px;
}

.skill-title {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.skill-name {
    font-weight: bold;
    color: #545e6f;
    margin-bottom: 0.2rem;
}

.skill-usage {
    font-size: 0.9rem;
    color: #545e6f;
}

.python-style {
    color: #2186c4;
}

.chart-style {
    color:rgba(155, 172, 59);
    width: 35px;
}

.appstore-style {
    color:rgb(62, 9, 207)
}

.vue-style {
    color: rgb(25, 151, 93);
}
/*https://developer.mozilla.org/ko/docs/Web/CSS/box-shadow  <css 박스 쉐도우*/

.roadmap-container {
    width: 100%;
    margin-top: 2rem;
}

.roadmap-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roadmap-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #3f464d;
}

.slide-prev {
    font-size: 2rem;
    cursor: pointer;
}

.slide-next {
    font-size: 2rem;
    cursor: pointer;
    color:rgb(165, 177, 171)
}

.arrow-container {
    display: flex;
}

.class-list {
    display: flex;
    list-style: none;
}

.class-card {
    width: 240px;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    border-radius: 8px;
    margin: 0 10px;

}
/* https://developer.mozilla.org/ko/docs/Web/CSS/border-radius  <-border-radius mdn*/
.class-img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    color: rgb(184, 113, 22, 0.2);
}

.class-container {
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
}

.class-skill {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.class-type {
    font-size: 0.9rem;
    color: #949393;
}

.class-format {
    font-size: 0.9rem;
    color: #fff;
    background-color: aquamarine;
}

@media only screen and (min-width: 1200px) {
    .inner {
        max-width: 1200px;
    }
}
    
@media only screen and (max-width: 980px) {
    .skill-container {
        display: none;
    }
}